.home {
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 100vh;
  .btn-container {
    display: flex;
    flex-direction: column;
    width:70%;
    //align-items: center;
    .divider {
      border-top: 1px solid #ccc;
      margin: 10px 0;
    }
    .btn {
      margin: 10px;
      font-size: 32px;
      background-color: lightgreen;
      color: #000;
      //border: none;
      border-radius: 10px;
    }
    .btn:hover {
      background-color: #40a9ff;
    }
  }
}







